In [1]:
import pandas as pd

In [2]:
df=pd. read_csv('Data_Train.xls')
df

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly_Income,Home_Status,Unpaid_2_years,Already_Defaulted,Designation,...,File_Status,State,Account_Open,Total_Unpaid_CL,Duration,Unpaid_Amount,Reason,Claim_Type,Due_Fee,Default
0,95074,421802,II,>10yrs,Vfied,633600.00,MORTGAGE,0,0,GLENDALE NISSAN,...,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,7yrs,Source Verified,85483.20,RENT,0,0,Business Teacher,...,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,<1yr,Source Verified,79200.00,RENT,0,0,driver,...,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,<1yr,Vfied,61600.00,RENT,0,0,AvePoint,...,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,2yrs,Source Verified,68053.92,RENT,0,0,Lead Tester,...,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87495,120884,4535984,II,>10yrs,Not Vfied,75680.00,RENT,0,0,Engineer Support II,...,whole,MI,12,32702.0,3 years,10012.05,debt consolidation,I,0.0,0
87496,33259,2624710,IV,3yrs,Source Verified,90423.52,RENT,0,0,Dental Hygienist,...,whole,MA,23,32204.0,5 years,24921.54,debt consolidation,I,0.0,0
87497,102153,5966919,II,>10yrs,Source Verified,91520.00,MORTGAGE,0,0,Interface Coordinator,...,fully paid,CT,8,29050.0,3 years,14517.90,debt consolidation,I,0.0,0
87498,115343,2630667,III,1yrs,Source Verified,61600.00,MORTGAGE,0,0,PARTS CLERK,...,whole,PA,11,24900.0,3 years,8454.24,debt consolidation,I,0.0,0
87499,104968,6637289,III,2yrs,Vfied,NaN,RENT,0,0,Outside sales rep,...,whole,California,7,21746.0,5 years,8717.58,debt consolidation,I,0.0,0

In [3]:
df.columns

Index(['ID', 'Asst_Reg', 'GGGrade', 'Experience', 'Validation',
       'Yearly_Income', 'Home_Status', 'Unpaid_2_years', 'Already_Defaulted',
       'Designation', 'Debt_to_Income', 'Postal_Code', 'Lend_Amount',
       'Deprecatory_Records', 'Interest_Charged', 'Usage_Rate', 'Inquiries',
       'Present_Balance', 'Gross_Collection', 'Sub_GGGrade', 'File_Status',
       'State', 'Account_Open', 'Total_Unpaid_CL', 'Duration', 'Unpaid_Amount',
       'Reason', 'Claim_Type', 'Due_Fee', 'Default'],
      dtype='object')

In [4]:
df['Deprecatory_Records']

0        0
1        0
2        0
3        0
4        0
        ..
87495    0
87496    0
87497    3
87498    1
87499    1
Name: Deprecatory_Records, Length: 87500, dtype: int64

In [5]:
df.dtypes

ID                       int64
Asst_Reg                 int64
GGGrade                 object
Experience              object
Validation              object
Yearly_Income          float64
Home_Status             object
Unpaid_2_years           int64
Already_Defaulted        int64
Designation             object
Debt_to_Income         float64
Postal_Code            float64
Lend_Amount            float64
Deprecatory_Records      int64
Interest_Charged       float64
Usage_Rate             float64
Inquiries                int64
Present_Balance        float64
Gross_Collection       float64
Sub_GGGrade              int64
File_Status             object
State                   object
Account_Open             int64
Total_Unpaid_CL        float64
Duration                object
Unpaid_Amount          float64
Reason                  object
Claim_Type              object
Due_Fee                float64
Default                  int64
dtype: object

In [6]:
df=df.drop(['ID','Asst_Reg', 'Account_Open', 'Postal_Code', 'State'],axis=1)

In [7]:
df

,GGGrade,Experience,Validation,Yearly_Income,Home_Status,Unpaid_2_years,Already_Defaulted,Designation,Debt_to_Income,Lend_Amount,...,Gross_Collection,Sub_GGGrade,File_Status,Total_Unpaid_CL,Duration,Unpaid_Amount,Reason,Claim_Type,Due_Fee,Default
0,II,>10yrs,Vfied,633600.00,MORTGAGE,0,0,GLENDALE NISSAN,12.5496,42023.25,...,0.0,19,fully paid,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,IV,7yrs,Source Verified,85483.20,RENT,0,0,Business Teacher,9.0048,38133.00,...,0.0,30,whole,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,III,<1yr,Source Verified,79200.00,RENT,0,0,driver,24.9144,17100.00,...,0.0,25,whole,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,III,<1yr,Vfied,61600.00,RENT,0,0,AvePoint,16.5816,5130.00,...,0.0,22,fully paid,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,V,2yrs,Source Verified,68053.92,RENT,0,0,Lead Tester,40.0512,19665.00,...,0.0,32,fully paid,36022.0,5 years,27472.86,debt consolidation,I,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87495,II,>10yrs,Not Vfied,75680.00,RENT,0,0,Engineer Support II,19.3200,10260.00,...,0.0,17,whole,32702.0,3 years,10012.05,debt consolidation,I,0.0,0
87496,IV,3yrs,Source Verified,90423.52,RENT,0,0,Dental Hygienist,48.8208,27360.00,...,0.0,28,whole,32204.0,5 years,24921.54,debt consolidation,I,0.0,0
87497,II,>10yrs,Source Verified,91520.00,MORTGAGE,0,0,Interface Coordinator,7.7952,8550.00,...,0.0,16,fully paid,29050.0,3 years,14517.90,debt consolidation,I,0.0,0
87498,III,1yrs,Source Verified,61600.00,MORTGAGE,0,0,PARTS CLERK,8.2992,23769.00,...,0.0,25,whole,24900.0,3 years,8454.24,debt consolidation,I,0.0,0
87499,III,2yrs,Vfied,NaN,RENT,0,0,Outside sales rep,15.1872,28471.50,...,0.0,25,whole,21746.0,5 years,8717.58,debt consolidation,I,0.0,0

In [8]:
df.isnull().sum()

GGGrade                   0
Experience                0
Validation                0
Yearly_Income          5575
Home_Status               0
Unpaid_2_years            0
Already_Defaulted         0
Designation            1414
Debt_to_Income         3489
Lend_Amount               0
Deprecatory_Records       0
Interest_Charged          0
Usage_Rate                0
Inquiries                 0
Present_Balance           0
Gross_Collection          0
Sub_GGGrade               0
File_Status               0
Total_Unpaid_CL        4186
Duration                  0
Unpaid_Amount          4852
Reason                    0
Claim_Type                0
Due_Fee                   0
Default                   0
dtype: int64

In [9]:
df.isnull().mean()

GGGrade                0.000000
Experience             0.000000
Validation             0.000000
Yearly_Income          0.063714
Home_Status            0.000000
Unpaid_2_years         0.000000
Already_Defaulted      0.000000
Designation            0.016160
Debt_to_Income         0.039874
Lend_Amount            0.000000
Deprecatory_Records    0.000000
Interest_Charged       0.000000
Usage_Rate             0.000000
Inquiries              0.000000
Present_Balance        0.000000
Gross_Collection       0.000000
Sub_GGGrade            0.000000
File_Status            0.000000
Total_Unpaid_CL        0.047840
Duration               0.000000
Unpaid_Amount          0.055451
Reason                 0.000000
Claim_Type             0.000000
Due_Fee                0.000000
Default                0.000000
dtype: float64

In [10]:
df['Yearly_Income'].mean()

np.float64(134859.62977978395)

In [11]:
df['Yearly_Income'].fillna(df['Yearly_Income'].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4700\1485892732.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Yearly_Income'].fillna(df['Yearly_Income'].mean(),inplace=True)

In [12]:
df.isnull().mean()

GGGrade                0.000000
Experience             0.000000
Validation             0.000000
Yearly_Income          0.000000
Home_Status            0.000000
Unpaid_2_years         0.000000
Already_Defaulted      0.000000
Designation            0.016160
Debt_to_Income         0.039874
Lend_Amount            0.000000
Deprecatory_Records    0.000000
Interest_Charged       0.000000
Usage_Rate             0.000000
Inquiries              0.000000
Present_Balance        0.000000
Gross_Collection       0.000000
Sub_GGGrade            0.000000
File_Status            0.000000
Total_Unpaid_CL        0.047840
Duration               0.000000
Unpaid_Amount          0.055451
Reason                 0.000000
Claim_Type             0.000000
Due_Fee                0.000000
Default                0.000000
dtype: float64

In [13]:
df['Designation'].mode()

0    School Teacher
Name: Designation, dtype: object

In [14]:
df['Designation'].mode()[0]

'School Teacher'

In [15]:
df['Designation'].fillna(df['Designation'].mode()[0],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4700\3530409744.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Designation'].fillna(df['Designation'].mode()[0],inplace=True)

In [16]:
df['Debt_to_Income'].fillna(df['Debt_to_Income'].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4700\3568965470.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Debt_to_Income'].fillna(df['Debt_to_Income'].mean(), inplace=True)

In [17]:
df['Total_Unpaid_CL'].fillna(df['Total_Unpaid_CL'].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4700\2538585910.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total_Unpaid_CL'].fillna(df['Total_Unpaid_CL'].mean(), inplace=True)

In [18]:
df['Unpaid_Amount'].fillna(df['Unpaid_Amount'].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4700\628963163.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Unpaid_Amount'].fillna(df['Unpaid_Amount'].mean(), inplace=True)

In [19]:
df.isnull().sum()

GGGrade                0
Experience             0
Validation             0
Yearly_Income          0
Home_Status            0
Unpaid_2_years         0
Already_Defaulted      0
Designation            0
Debt_to_Income         0
Lend_Amount            0
Deprecatory_Records    0
Interest_Charged       0
Usage_Rate             0
Inquiries              0
Present_Balance        0
Gross_Collection       0
Sub_GGGrade            0
File_Status            0
Total_Unpaid_CL        0
Duration               0
Unpaid_Amount          0
Reason                 0
Claim_Type             0
Due_Fee                0
Default                0
dtype: int64